<section class="banner-section">
          <app-banner [bannerContent]="bannerContent"></app-banner>
</section>
<section id="contact-us">
<div class="container main-content">
          <div class="mt-md-5 text-center">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3423.767004805666!2d75.86955544853974!3d30.89317831370257!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391a82e20543d743%3A0x2eb635cd95eab9ac!2srana%20tailors!5e0!3m2!1sen!2sin!4v1711965991411!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div class="mt-md-5 mt-3 contact-form"  >
                    <p>Please use the form below to make an appointment or call at 921-678-5825</p>
                    <label for="name" class="form-label mt-3">Your Name(required)</label>
                    <input type="text" class="form-control">
                    <label for="email" class="form-label mt-3">Your Email(required)</label>
                    <input type="email" class="form-control">
                    <label for="phone" class="form-label mt-3">Your Phone</label>
                    <input type="number" class="form-control">
                    <label for="date" class="form-label mt-3">Appointment Date</label>
                    <input type="date" class="form-control">
                    <label for="time" class="form-label mt-3">Appointment Time</label>
                    <input type="time" class="form-control">
                    <label for="message" class="form-label mt-3">Your Message</label>
                    <textarea class="form-control"></textarea>
                    <button class="btn btn-dark mt-3">SEND</button>
          </div>
</div>
</section>