<section class="banner-section">
          <app-banner [bannerContent]="bannerContent"></app-banner>
</section>

<div class="container">
          <div class="main-content">
                    <h2>MEN’S ALTERATIONS</h2>
                    <p><strong>
                              Rana Tailors</strong> performs alterations on garments that you purchased from others both tailors and off the rack. We would like your business and altering your clothes is very personal to us. So, don’t hesitate to bring us your alteration needs.
                    </p>
                    <h2>WOMEN’S ALTERATIONS</h2>
                    <p><strong>  Sunita </strong> has over 40 years of experience in hand making clothes and has a devoted following. Not only does she work with highly complex embellishment but she has been involved with custom suits and lines of clothing. Sunita’s expert tailoring and repair services will ensure the perfect fit for everything from wedding dresses, bridesmaid dresses, prom gowns and more.</p>
          </div>


</div>