<section class="main-header">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="#"><img src="../../../assets/images/company-logo.png" alt="company-logo"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                              data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                              aria-expanded="false" aria-label="Toggle navigation">
                              <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                              <ul class="navbar-nav mr-auto">
                                        <li class="nav-item active">
                                                  <a class="nav-link" routerLink="/home">Home</a>
                                        </li>
                                        <li class="nav-item">
                                                  <a class="nav-link" routerLink="/about">About Us</a>
                                        </li>
                                        <li class="nav-item">
                                                  <a class="nav-link" routerLink="/bespoke">Bespoke</a>
                                        </li>
                                        <li class="nav-item">
                                                  <a class="nav-link" routerLink="/fabrics">Fabrics</a>
                                        </li>
                                        <li class="nav-item">
                                                  <a class="nav-link" routerLink="/alterations">Alterations</a>
                                        </li>
                                        <li class="nav-item">
                                                  <a class="nav-link" routerLink="/services">Services</a>
                                        </li>
                                        <li class="nav-item">
                                                  <a class="nav-link" routerLink="/contact">Contact Us</a>
                                        </li>
                              </ul>
                    </div>
          </nav>
</section>