.main-header {
  position: relative;
  z-index: 999;
}
.navbar-brand {
  img {
          height: 100%;
          width: 75%;
          margin-left: 20px;
  }
}
.nav-link {
  text-transform: capitalize;
  margin: 18px;
}
.login-button{
  button{
    background-color:#182047;
    color: #fff;
    &:hover{
      color: #c59d5f;
      background-color: transparent;
    }
  }
}
@media (max-width: 767px){
  .navbar-collapse {
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
}
.navbar-collapse.show-toogle{
    background: #fff;
    position: absolute;
    width: 76%;
    height: 1083vh;
    left: 0;
    top: 0;
    transform: translateX(0);
    z-index: 999;
}
.show-toogle{
  display: block;
}
}
