<section class="banner-section">
          <app-banner [bannerContent]="bannerContent"></app-banner>
        
<div class="container">
          <div class="main-content">
          <h2 class="text-center">Provide Custom Tailoring Experience</h2>

          <p>At <strong>RANA TAILORS</strong>, we believe in providing our customers with an unparalleled custom tailoring experience, tailored precisely to their unique preferences and requirements. Our custom tailoring process is meticulously crafted to ensure the perfect fit, exceptional quality, and complete satisfaction for every client</p>
          <div class="d-flex text-center pt-5 pb-5">
                    <div class="left--section col-6">
                    <img src="../../../assets/images/services-img-1.jpg" alt="">
                    </div>
                    <div class="right--section col-6 p-4 m-5">
                              <h2>Consultations</h2>
                              <p>Our journey begins with a personalized consultation where we take the time to understand your style preferences, garment requirements, and any specific requests you may have. Whether you're looking for a bespoke suit, a tailored dress, or any other custom garment, our experienced tailors will work closely with you to bring your vision to life.</p>
                    </div>
          </div>
          <div class="d-flex text-center pt-5">
                    
                    <div class="right--section col-6 p-4 m-5">
                              <h2> Measurements</h2>
                              <p>Accurate measurements are the cornerstone of custom tailoring, and we leave no stone unturned in ensuring precision. Our skilled tailors will take detailed measurements of your body, considering factors such as posture, proportions, and any unique characteristics to create a garment that fits you like a glove.</p>
                    </div>
                    <div class="left--section col-6">
                              <img src="../../../assets/images/services-img-2.jpg" alt="">
                    </div>
          </div>
          <h2 class="text-center">Measurements and Fittings</h2>
          <p>Accurate measurements are the cornerstone of custom tailoring, and we leave no stone unturned in ensuring precision. Our skilled tailors will take detailed measurements of your body, considering factors such as posture, proportions, and any unique characteristics to create a garment that fits you like a glove.</p>
          <p>Throughout the tailoring process, we schedule multiple fittings to ensure that your garment meets your expectations at every stage of its creation. From the initial muslin fitting to the final adjustments, our skilled tailors will meticulously tailor your garment to achieve the perfect fit and silhouette, paying attention to every detail to ensure your complete satisfaction.</p>

</div>
</div>
</section>