<section class="banner-section">
    <app-banner [bannerContent]="bannerContent"></app-banner>
</section>
<!-- our story  -->
<section class=" m-md-5 pt-5 pb-5" id="our-story">
    <div class="container">
        <div class="d-md-flex justify-content-center text-center align-items-center">
            <div class="col-md-6 left--section">
                <h1 class="headline__secondary">Discovery</h1>
                <h2 class="headline__primary">Our story</h2>
                <div class="star mb-3">✻</div>
                <p>In 1970, the Rana family brought tailoring to Ludhiana, Punjab. The
                    combination of hand-selected fabrics and hand-sewn tailoring allowed discerning
                    customers to stand out from the crowd. For those who know what it means to be
                    seen, Rana’s has become the go-to source to achieve custom looks that
                    complement their personas.</p>
                <a routerLink="/about" class="button refer">ABOUT US</a>
            </div>
            <div class="col-md-6 right-section">
                <div class="d-md-flex">
                    <img class="p-3" src="/assets/images/our-story-img-1.avif" alt="">
                    <img class="p-3" src="/assets/images/our-story-img-2.avif" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="background-image pb-5 pt-5">
    <div class="background-image-main">
        <!-- <img src="/assets/images/background-image-section.jpg" alt=""> -->
    </div>
</section>

<!-- Fabrics -->
<section class="m-md-5 pt-5 pb-5" id="fabrics">
    <div class="container">
        <div class="d-md-flex justify-content-center text-center align-items-center">
            <div class="col-md-12 left--section">
                <h1 class="headline__secondary">The Very</h1>
                <h2 class="headline__primary">Uncommen Thread</h2>
                <div class="star mb-3">✻</div>
                <p>Rana’s association with the tailors in Ludhiana dates back before 1975; this is a legacy and heritage that dates back to three generations. The Rana family sources fabrics from the oldest mills in the world and exclusive sources. They have known the tailors in Ludhiana for more than a half a century. The way their garments drape your frame will make you appreciate the quality and construction that goes into every weave and every stitch.</p>
                <a routerLink="/fabrics" class="button refer">FABRICS</a>
            </div>
        </div>
    </div>
</section>

<section class="background-image pb-5 pt-5">
    <div class="background-image-main">
        <!-- <img src="/assets/images/background-image-section.jpg" alt=""> -->
    </div>
</section>

<!-- Alterations -->
<section class="alterations m-md-5 pt-5 pb-5" id="alterations">
    <div class="container">
        <div class="d-md-flex justify-content-center text-center align-items-center">
            <div class="col-md-6 left--section">
                <h1 class="headline__secondary">The Look</h1>
                <h2 class="headline__primary">That Defines</h2>
                <h5 class="text-uppercase">Your life</h5>
                <div class="star mb-3">✻</div>
                <p>
                    Whether you are a public figure, a leader in your field, someone who appreciates the finer things in
                    life or a young person starting a career path and are hard to fit or just want a high-quality,
                    affordable suit, Rana’s takes the time to understand your personal style. When you first don a
                    custom garment designed specifically for you, a new air of confidence envelopes you. You become more
                    aware of how you present yourself. And, those around you take notice.
                </p>
                <a routerLink="/alterations" class="button refer">Alterations</a>
            </div>
            <div class="col-md-6 right-section">
                <div class="d-md-flex">
                    <img class="p-3" src="/assets/images/alteration-img-1.jpg" alt="">
                    <img class="p-3" src="/assets/images/alteration-img-2.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>