<section class="banner-section">
          <app-banner [bannerContent]="bannerContent"></app-banner>
</section>
<div class="container">
          <div class="main-content text-center">
                    <h2>Gallery</h2>
                    <p>We have personal relationships with the world’s leading fabric houses. Centuries of family expertise goes into every thread, every weave. We have access to collections you won’t find unless you’re really seeking it out.</p>
          </div>
          <div class="row">
                    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                              <img src="../../../assets/images/fabric-img-2.jpg"
                                        class="w-100 shadow-1-strong rounded mb-4" alt="" />

                              <img src="../../../assets/images/fabric-img-3.jpg"
                                        class="w-100 shadow-1-strong rounded mb-4" alt="Wintry Mountain Landscape" />
                    </div>

                    <div class="col-lg-4 mb-4 mb-lg-0">
                              <img src="../../../assets/images/fabric-img-4.jpg"
                                        class="w-100 shadow-1-strong rounded mb-4" alt="Mountains in the Clouds" />

                              <img src="../../../assets/images/fabric-img-1.webp"
                                        class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />
                    </div>

                    <div class="col-lg-4 mb-4 mb-lg-0">
                              <img src="../../../assets/images/fabric-img-2.jpg"
                                        class="w-100 shadow-1-strong rounded mb-4" alt="Waves at Sea" />

                              <img src="../../../assets/images/fabric-img-4.jpg"
                                        class="w-100 shadow-1-strong rounded mb-4" alt="Yosemite National Park" />
                    </div>

          </div>
</div>