<section class="banner-section">
  <app-banner [bannerContent]="bannerContent"></app-banner>
</section>
<section class="why--section">
  <div class="container">
    <div class="main-content">
      <h2>why is it called World Best tailors?</h2>
      <div class="d-flex justify-content-end">
        <div class="left--section col-md-6">
          <p>
            Beginning with World War II then the war in the Korean Peninsula and
            finally Vietnam, our servicemen traveled to Hong Kong for R&R when
            they were deployed in the Pacific theater. While in Hong Kong, they
            had quality suits made by tailors in that country. When they came
            back to civilian life, they longed for a fine quality Hong Kong
            suit. So, the Hong Kong Tailor came to America to meet their needs.
          </p>
          <br />
          <p>
            If you want a suit made by craftsmen and talent that is steeped in
            couture history then a suit from us is just that – a piece of
            timeless elegance.
          </p>
          <br />
          <p>
            For no fault of their own, young shoppers have not been familiar
            with this history and have been unable to make a correlation between
            the name and historical quality of workmanship and art.
          </p>
          <br />
        </div>
        <div class="right--section col-md-6">
          <img src="../../../assets/images/why-image-1.jpg" alt="" />
        </div>
      </div>
      <p>
        The Bushes, Pavarotti, David Bowie, Prince Charles, Cold Play, Rod
        Stewart, Bruno Mars, and Pierce Brosnan are a few names of individuals
        who have some of their suits made by tailors in Hong Kong.
      </p>
      <br />
      <h2>WHAT IS DIFFERENT ABOUT A TAILOR-MADE SUIT?</h2>
      <br />

      <p>
        Experience the opportunity for greater expression of your personal style
        with a tailor-made suit. Lead by Ramesh Kripalani, our custom tailors
        measure your body over 20 different ways and explore how you “live well”
        in a custom suit. We ensure your comfort is a priority if you are
        sitting in the corporate conference room or cheering on your favorite
        sports team. Our clothing is hand-sewn and never glued. Pieced together
        pre-made fabric, altered to your size.
      </p>
      <br />
      <p>
        You will not go home today in your Kripalani look but when you do leave
        with your custom fit, you will have experienced the difference.
      </p>
      <h2>WHAT IS THE DIFFERENCE BETWEEN BESPOKE AND CUSTOM MADE?</h2>
      <p>Made to measure (MTM) typically refers to custom clothing that is cut and sewn using a standard-sized base pattern. All else being equal, a made to measure garment will be more expensive than a ready to wear garment but cheaper than a bespoke one.</p>
    </div>
  </div>
</section>
