<section class="footer">
    <div class="footer-background">

        <svg class="blurp--top" width="192" height="61" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 160.7 61.5"
            enable-background="new 0 0 160.7 61.5" xml:space="preserve">
            <path fill="#000"
                d="M80.3,61.5c0,0,22.1-2.7,43.1-5.4s41-5.4,36.6-5.4c-21.7,0-34.1-12.7-44.9-25.4S95.3,0,80.3,0c-15,0-24.1,12.7-34.9,25.4S22.3,50.8,0.6,50.8c-4.3,0-6.5,0,3.5,1.3S36.2,56.1,80.3,61.5z">
            </path>
        </svg>
        <div class="top--btn" (click)="onclicktop()">
            <span class="arrow-btn btn--top"></span>
            <span class="arrow-btn btn--bottom"></span>
        </div>
        <div class="container">
            <div class="f-description text-center text-uppercase p-md-5 mt-md-5 text-white">
                <h1 class="text-uppercase mt-md-5 pt-5 pt-md-0">schedule an appointment</h1>
                <div class="star mt-4">✻</div>
                <p class="p-md-5 m-md-5 mt-0">To arrange for a personal consultation, please make an appointment and carve out
                    the appropriate time that will allow us to give you the attention you deserve.</p>
                <a href="" class="button email-btn text-uppercase"> email for an appointment</a>
            </div>
            <div class="info text-uppercase text-white text-center pb-5 mt-3 mt-md-0">
                <div class="contact--info">
                    <ul class="">
                        <li>Rana's Tailors</li>
                        <li>921-678-5825</li>
                        <li>1734 Main Road, dholewal chownk 141003</li>
                    </ul>
                </div>
                <div class="timing--info pb-md-5 pb-3">
                    <ul>
                        <li>10AM-6PM MONDAY-FRIDAY</li>
                        <li>10AM-5PM SATURDAY</li>
                        <li><a href="#">
                                <img class="social--icon" src="../../../assets/images/instagram-logo.png" alt="">
                            </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right p-md-5 text-center pt-5 ">
        <h5 class="text-uppercase">Developed by <span class="author-name ">Ankush Rana</span></h5>
        <ul class="d-md-flex justify-content-center">
            <li class="menu-item"><a routerLink="/home">Home</a></li>
            <li class="menu-item"><a routerLink="/about">About Us</a></li>
            <li class="menu-item"><a routerLink="/fabrics">Fabrics</a></li>
            <li class="menu-item"><a routerLink="/alterations">Alterations</a></li>
            <li class="menu-item"><a routerLink="/services">Services</a></li>
            <li class="menu-item"><a routerLink="/contact">Contact Us</a></li>
        </ul>
    </div>
</section>